<div class="panel panel-default" ng-hide="nolist">
  
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-2">
        <h4>Scenarios</h4>
      </div>
    </div>
  </div>
  
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <th>Script name</th>
        <th>Timeout</th>
        <th colspan="2">Match</th>
      </thead>
      <tbody>
        <tr ng-repeat="scenario in scenario_list()">
          <td>{{scenario.script_name}}</td>
          <td>{{scenario.timeout / 1000 | number:1}}</td>
          <td><code>{{scenario.match | matcher}}</code></td>
          <td>
            <button type="button"
                    class="btn btn-xs btn-primary"
                    ng-click="execute_scenario(scenario.script_name)">
              execute
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<div ng-hide="host">
  <div ng-show="execution" class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-2">
          <h4>{{execution.script_name}}: {{execution.total_done}} out of {{execution.starting_hosts}} done</h4>
        </div>
      </div>
    </div>


    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <th>host</th>
          <th ng-repeat="command in execution.script">
            <span ng-show="command.shell"><span class="label label-primary">shell</span><small> <code ng-bind="command.shell"></code></small></span>
            <span ng-show="command.service"><span class="label label-primary">service {{command.action}}</span> {{command.service}}</span>
            <span ng-show="command.sleep"><span class="label label-primary">sleep</span> {{command.sleep}}</span>
            <span ng-show="command == 'ping'"><span class="label label-primary">ping</span></span>
            <span ng-show="is_script(command)"><span class="label label-primary">shell</span><small> <code ng-bind="command"></code></small></span>
          </th>
          <th><span class="label label-primary">complete</span></th>
        </thead>
        
        <tbody>
          <tr ng-repeat="(host,output) in execution.hosts">
            <td><a ng-click="set_host(host)">{{host}}</a></td>
            <td ng-repeat="command in output">
              <span class="label" ng-class="get_color(command.status)">{{command.status}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
              
  
  </div>
</div>
                                



<div ng-show="host">

  <h2>Execution of {{execution.script_name}} for {{host}} <button class="btn btn-xs btn-primary" ng-click="set_host()">back</button></h2>

  <div ng-repeat="script in execution.host_commands[host]" class="panel panel-default">
  
    <div class="panel-heading">
      command: 
      <span ng-show="script[0].shell"><span class="label label-primary">shell</span><small> <code ng-bind="script[0].shell"></code></small></span>
      <span ng-show="script[0].service"><span class="label label-primary">service {{script[0].action}}</span> {{script[0].service}}</span>
      <span ng-show="script[0].sleep"><span class="label label-primary">sleep</span> {{script[0].sleep}}</span>
      <span ng-show="script[0] == 'ping'"><span class="label label-primary">ping</span></span>
      <span ng-show="is_script(script[0])"><span class="label label-primary">shell</span><small> <code ng-bind="script[0]"></code></small></span>,
      status: <span class="label" ng-class="get_color(script[1].status)">{{script[1].status}}</span>
    </div>
  
    <div class="panel-body">
      <pre class="console" ng-hide="empty_body(script[1].stdout)" ng-bind-html="script[1].stdout | ansi"></pre>
      <pre class="console" ng-hide="empty_body(script[1].stderr)" ng-bind-html="script[1].stderr | ansi"></pre>
      <span ng-show="empty_body(script[1].stdout) && empty_body(script[1].stderr)">no output</span>
    </div>
  </div>
</div>
