#!/usr/bin/make -f

DISTRIBUTION := $(shell lsb_release -sc)
VERSION := $(shell head -n1 project.clj | awk '{print $$3}')
DEBVERSION := $(subst -SNAPSHOT,~$(shell date +%Y%m%d-%H%M%S),$(VERSION))-0~$(DISTRIBUTION)3

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -v$(DEBVERSION)

# Don't try to do anything automatically
override_dh_auto_configure:
override_dh_auto_test:
override_dh_auto_install:

override_dh_auto_build: $(info I: DEBVERSION=$(DEBVERSION))
	lein uberjar
	cd agent && make

override_dh_link:
	dh_link usr/share/java/warp-$(VERSION)-standalone.jar usr/share/java/warp-controller.jar
